:root.theme-dark {
  --accent-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --background-color-text: #ff0070;
  --selected-text: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --rec: flex;
  --button-hover: #FF007066;
}


.page.theme_dark {
  --accent-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --background-color-text: #ff0070;
  --selected-text: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --rec: flex;
  --button-hover: #FF007066;
}
